.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 500px;
  margin: 0 15px;
  min-height: 65vh;
  font-size: 16px;
}

.landing {
  margin: 0 auto;
  text-align: center;
}


.button {
  background-color: teal;
  color: aliceblue;
  border: none;
  margin: 20px auto;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 10px 20px;
  cursor: pointer;
}

.scoreCard {
  margin: 0 auto;
  text-align: center;
}

.score {
  font-size: 3rem;
  text-align: center;
}

.footer {
  width: 100%;
}


@media screen and (max-width: 600px) {
  .option {
    width: 100%;
  }

  .scoreBar {
    width: 90%;
  }

  .container {
    min-height: 75vh;
  }
}